
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>
</head>
<body>
    <div>
        <h1>Listado de proveedores</h1>
        <p>*********************</p>

        @Html.ActionLink("Crear nuevo proveedor", "Crear", "Proveedores")
        <br />
        @Html.ActionLink("Inicio", "Index", "Home")

    </div>
</body>
</html>
