
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
    </head>
<body>
    <div>
        <h1>Crear nuevo cliente</h1>
        <p>******************************************</p>
           @Html.ActionLink("Listado de clientes", "Listado", "Clientes")
        <br />
            @Html.ActionLink("Inicio", "Index", "Home")

       
    </div>
</body>
</html>
